<div class="row">
    <div class="col-md-3">
        <span><img src="../assets/paris.jpg" class="rounded-circle round img" (click)="production()" /> </span>
    </div>
    <div style="margin-top: 10px; margin-left: 15px; margin-right: 10px;" class="col">
        <div class="row">
            <div style="height: 35px; width: 305px; color: black; padding-left: 15px;" class="txt progress" id="progress" #bar>1.00</div>
        </div>
        <div style="margin-top: 10px;" class="txt row">
            <div class="col-md-6">
                <div class="row border bg-info border-info rounded">
                    <span class="col d-flex flex-row">x1</span>
                    <span class="col d-flex flex-row-reverse">4.00</span>
                </div>
            </div>
            <span class="offset-md-1 col-md-5 border border-info rounded">00:00:50</span>
        </div>
    </div>
</div>