.button{
  line-height: 100px;
}
.product{
  color: aliceblue;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.notif{
 height: 120px;
 padding-top: 10px;
 box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
}
.notif:hover{
  background-color:rgba(0,0, 0, 0.2);
  
  border: none;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.navB{
  padding-bottom: 15px;
   padding-top: 10px;
   box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
   font-family: sans-serif;
}

.money{
  margin-left: 15px;
  padding-top: 5px;
  width: 250px !important;
  height: 40px;
  background-color: rgba(255,255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
  cursor: pointer;
}
.money:hover{
  box-shadow: 0 0 0 0 !important;
}
.foot {
  margin-top: 25px;
}
.validInv{
  background-color: #58355E;
  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
  margin-left: 30px;
}
.validInv:hover{
  background-color: rgb(48, 40, 49);
}
.validInv:active{
  background-color: rgba(48, 40, 49,0.5);
}

.cardUnlock{
  margin-right: 15px; 
  margin-left: 15px; 
  margin-top: 10px;
  border-radius: 20px;
  padding: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
}

.footCard{
  border-radius: 0 0 20px 20px;
}

.cardHead{
  border-radius: 20px 20px 0 0;
}
.imgUnlock{
  height: 100%;
  width: 100%;
}

