.button{
  line-height: 100px;
}
.product{
  color: aliceblue;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.notif{
 height: 120px;
 padding-top: 10px;
}
.notif:hover{
  background-color:rgba(0,0, 0, 0.6);
  color: aliceblue;
  border: none;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}




